extend layout
block content
  h1.header.center.indigo-text About Me
  .row.center
    h5.header.col.s12.light Who I am, what I know.
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons spellcheck
        h5.center Education
        p.light I am currently attending 8th grade. I take Algebra 1, World Cultures, English, and Environmental/Physical Science. I also take different "special area" classes each quarter which consist of Music, Computer Science, Art, and Physical Education.
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons contacts
        h5.center Languages
        code 
          h6(style='white-space:pre;') 
            | print("Swift") 
            | print "Python"
            | console.log('Javascript')
            | NSLog(@"Objective-C");
            | &lt;h1&gt;HTML&lt;/h1&gt;
            | &lt;?php echo "PHP"; ?&gt;
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons search
        h5.center Interests
        p.light
          | There are a lot of things I find interesting and like to do when I am bored. One of the biggest areas of interest being graphics/design. I also participate in a competitive rock climbing team.
  br
  br
