extend layout
block content
  h1.header.center.indigo-text Collaboration
  .row.center
    h5.header.col.s12.light There's no 'I' in 'team'.
    .col.s12.m4
      .icon-block
        h2.center.teal-text function()
        h5.center Programming
        p.light I don't do all of my programming projects alone. Me and a few other students built a schedule app for our school. You can find the project on
          a(href='http://github.com/charlestruluck')  GitHub
          |  as well as those who I collaborated with on the project.
    .col.s12.m4
      .icon-block
        h2.center.teal-text { flag }
        h5.center Hacking/CTFs
        p.light
          | One of my favorite things to do is CTF competitions, however I couldn't possibly do it all alone. I collaborate with a group of students from the same school as me to work at getting all of the CTF problems, and recently we came in 38th place out of 607 teams in CamsCTF. I personally focus on forensics and web exploitation.
    .col.s12.m4
      .icon-block
        h2.center.teal-text <3
        h5.center Assistance
        p.light
          | I love assisting with projects, and I am also open to freelance jobs. You can always email me at me@ctruluck.com for questions or inquires. I will try to respond as fast as I can, too.
  br
  br
