extend layout
block content
  h1.header.center.indigo-text Charles Truluck
  .row.center
    h5.header.col.s12.light Hi. I'm Charles.
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons info_outline
        h5.center About Me
        p.light
          | Hey, I'm Charles. I like to program stuff, collaborate with people, and hack things. You can find more information on me here.
        a.waves-effect.waves-light.teal.btn(href='/about') about 
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons recent_actors
        h5.center Collaboration
        p.light
          | A lot of the things I do requires collaboration. During hacking competitions, GitHub projects, and even school work, I continuously collaborate with various people to achieve great things. You can find more about what I've built with amazing people below.
        a.waves-effect.waves-light.teal.btn(href='/collaboration') collaboration 
    .col.s12.m4
      .icon-block
        h2.center.teal-text
          i.material-icons perm_media
        h5.center Projects
        p.light
          | I have built an array of projects, including the website you are currently on, that helps me learn new resources and gain more experience. You can look at some of my projects using that button below.
        a.waves-effect.waves-light.teal.btn(href='/projects') projects 
    br
    br
