extend layout
block content
  h1.header.center.indigo-text Projects
  .row.center
    h5.header.col.s12.light Things I've done.
    br
    .col.s12.m4
      .icon-block
        h5.center CarHUD
        p.light
          | One app I've created is CarHUD. This app is a 
          a(href='https://en.wikipedia.org/wiki/Head-up_display' target='_blank') HUD for cars
          |  that uses your phone instead of something you would have to buy online. It shows current location, speed, heading, battery percent, and time.
    .col.s12.m4
      .icon-block
        h5.center WWDC 2015
        p.light
          | WWDC truely compelled me to learn about computer science. I love the concept that thousands of programmers and hundreds of students gather for one amazing event, held by one of the best companies, and showcase ways they've changed peoples lives around the world. My first
          i real
          | app was my WWDC 2015 scholarship application. Though I wasn't accepted, I learned so much creating that app and collaborated with so many cool people.
    .col.s12.m4
      .icon-block
        h5.center CalculaTV
        p.light
          | This is the first app I've put on the App Store. It's a tvOS-only app, and I made it first because there wasn't a free calculator for the Apple TV, and second to learn/mess with the tvOS SDK since it had just come out at that time.
  .row.center
    h5.header.col.s12.light I use GitHub. Take a look:
    a.waves-effect.waves-light.btn.center(href='https://github.com/charlestruluck' target='_blank') GitHub 
br
br
